{
  "openapi": "3.1.0",
  "info": {
    "title": "Deal Scale API - Public Documentation",
    "description": "\n        ## Deal Scale API Documentation\n        \n        This is the API documentation for Deal Scale, built with FastAPI and documented using Scalar.\n        \n        ### Features\n        - **Authentication**: JWT-based authentication system with role-based access control\n        - **User Acquisition**: Beta/pilot tester programs with credit allocation\n        - **Feature Voting**: Weighted voting system for product roadmap decisions  \n        - **Affiliate Program**: Referral tracking and commission management\n        - **E-commerce**: Shopping cart and checkout with Stripe integration\n        - **Payments**: Stripe integration for payment processing and subscription management\n        - **Lead Generation**: Advanced prospecting and data enrichment services\n        - **Real-time**: WebSocket support for real-time features\n        - **Monitoring**: Comprehensive observability with Prometheus, Grafana, and Loki\n        - **Messaging**: Apache Pulsar for event-driven architecture\n        \n        ### User Acquisition System\n        **Pre-Launch Strategy**: Complete user acquisition system designed for pre-launch growth\n        \n        1. **Beta/Pilot Programs**: Users can apply for testing programs with free credit allocation\n        2. **Feature Voting**: Testers influence product roadmap with weighted voting (Beta=2x, Pilot=3x)\n        3. **Affiliate System**: Active testers can join affiliate program for referral earnings\n        4. **Credit Economy**: Seamless credit allocation and purchase system\n        5. **Cart & Checkout**: Full e-commerce capabilities for credit packages and subscriptions\n        \n        ### Getting Started\n        1. **Authentication**: Obtain an access token by registering or logging in\n        2. **Authorization**: Include the token in the `Authorization` header as `Bearer <token>`\n        3. **Testing Programs**: Apply for beta/pilot programs to receive free credits\n        4. **Feature Input**: Vote on features to shape the product roadmap\n        5. **Affiliate Opportunity**: Join the affiliate program for referral earnings\n        6. **API Usage**: Use the interactive documentation below to test endpoints\n        \n        ### Support\n        - **Environment**: production\n        - **API Version**: v1\n        - **Documentation**: Generated with Scalar\n        \n\n**Documentation Variant**: Public (173 endpoints visible)",
    "version": "1.0.0",
    "contact": {
      "name": "Deal Scale Support",
      "email": "support@dealscale.io",
      "url": "https://dealscale.io/support"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.dealscale.io",
      "description": "Production Server"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local Development Server"
    }
  ],
  "paths": {
    "/api/v1/auth/signup": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register new user account",
        "description": "Create a new user account with email and password. Supports OAuth providers (Facebook, LinkedIn, Google) with automatic email/name extraction. Password required for all signup types.",
        "operationId": "Authentication-signup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignUpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "User successfully registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                },
                "example": {
                  "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                  "refresh_token": "refresh_token_here",
                  "token_type": "bearer",
                  "expires_in": 3600,
                  "user": {
                    "id": "123e4567-e89b-12d3-a456-426614174000",
                    "email": "user@example.com",
                    "first_name": "John",
                    "last_name": "Doe",
                    "is_active": true,
                    "email_verified": false
                  },
                  "session_id": "session_id_here",
                  "profile_setup_status": "NOT_STARTED"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "example": {
                  "detail": {
                    "detail": "Email is required for signup",
                    "error_code": "AUTH_EMAIL_REQUIRED",
                    "timestamp": "2025-10-24T07:56:06.166687"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Missing required fields",
            "content": {
              "application/json": {
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "body",
                        "password"
                      ],
                      "msg": "Field required",
                      "input": {}
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "detail": {
                    "detail": "Failed to create user account",
                    "error_code": "AUTH_SIGNUP_ERROR",
                    "timestamp": "2025-10-24T07:56:06.166687"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticate user and create session",
        "description": "Login with email and password. Supports OAuth providers (Facebook, LinkedIn, Google) with automatic email extraction. Returns JWT access token and refresh token. Password required for all login types.",
        "operationId": "Authentication-login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignInRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                },
                "example": {
                  "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                  "refresh_token": "refresh_token_here",
                  "token_type": "bearer",
                  "expires_in": 3600,
                  "user": {
                    "id": "123e4567-e89b-12d3-a456-426614174000",
                    "email": "user@example.com",
                    "first_name": "John",
                    "last_name": "Doe",
                    "is_active": true,
                    "email_verified": true
                  },
                  "session_id": "session_id_here",
                  "profile_setup_status": "COMPLETED"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "example": {
                  "detail": {
                    "detail": "Email is required for login",
                    "error_code": "AUTH_EMAIL_REQUIRED",
                    "timestamp": "2025-10-24T07:56:06.166687"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "example": {
                  "detail": {
                    "detail": "Invalid email or password",
                    "error_code": "AUTH_INVALID_CREDENTIALS",
                    "timestamp": "2025-10-24T07:56:06.166687"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Missing required fields",
            "content": {
              "application/json": {
                "example": {
                  "detail": [
                    {
                      "type": "missing",
                      "loc": [
                        "body",
                        "password"
                      ],
                      "msg": "Field required",
                      "input": {}
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "detail": {
                    "detail": "Login failed",
                    "error_code": "AUTH_LOGIN_ERROR",
                    "timestamp": "2025-10-24T07:56:06.166687"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Logout and invalidate session",
        "description": "Invalidate user session and revoke access tokens. Requires valid JWT token in Authorization header.",
        "operationId": "Authentication-logout",
        "responses": {
          "200": {
            "description": "Logout successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogoutResponse"
                },
                "example": {
                  "message": "Logged out successfully",
                  "status": "success"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing token",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Not authenticated"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "detail": {
                    "detail": "Failed to logout",
                    "error_code": "AUTH_LOGOUT_ERROR",
                    "timestamp": "2025-10-24T07:56:06.166687"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          },
          {
            "HTTPBearer": []
          },
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/api/v1/auth/social": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Social Oauth Linkage",
        "description": "Link OAuth provider credentials to authenticated user account\n\nRate limited to 10 requests per 60 seconds per user.\n\n**Updated Workflow (No Session Creation):**\n- Authenticate the caller (Auth.js JWT required)\n- Validate OAuth payload (provider, tokens, etc.)\n- Encrypt and store OAuth credentials in user_oauth_credentials\n- Ensure user profile exists (idempotent)\n- Return 204 (no secrets in response)\n\n**What this endpoint does NOT do:**\n❌ Create authentication sessions (Auth.js handles this)\n❌ Expose tokens back to client\n❌ Handle user signup/login flow",
        "operationId": "Authentication-social_oauth_linkage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SocialLoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/api/v1/auth/social/revoke": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Revoke Social Oauth",
        "description": "Revoke OAuth provider linkage from authenticated user account\n\nRate limited to 10 requests per 60 seconds per user.\n\n**OAuth Revocation Workflow:**\n- Authenticate the caller (Auth.js JWT required)\n- Find and delete OAuth credentials for provider\n- Log security event for audit trail\n- Return 204 No Content\n\n**Security Features:**\n- Complete credential deletion from database\n- Audit trail logging\n- Optional provider-side revocation (future)",
        "operationId": "Authentication-revoke_social_oauth",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OAuthProvider"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Reason"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/social/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refresh Social Oauth",
        "description": "Refresh OAuth provider tokens for authenticated user\n\nRate limited to 10 requests per 60 seconds per user.\n\n**OAuth Token Refresh Workflow:**\n- Authenticate the caller (Auth.js JWT required)\n- Find OAuth credentials for provider\n- Use refresh_token to get new access_token\n- Update encrypted credentials in database\n- Return 204 No Content\n\n**Provider Support:**\n- LinkedIn: Uses OAuth 2.0 refresh flow\n- Facebook: Uses OAuth 2.0 refresh flow",
        "operationId": "Authentication-refresh_social_oauth",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OAuthProvider"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/phone/send-otp": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Send Phone Otp",
        "description": "Send OTP via SMS for phone authentication\n\n**BDD Scenario: Authenticate with Phone Number**\n- Given a user provides a valid phone number\n- When the request is processed\n- Then Supabase sends an OTP via SMS",
        "operationId": "Authentication-send_phone_otp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneSignInRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object",
                  "title": "Response Authentication-Send Phone Otp"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/phone/verify-otp": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify Phone Otp",
        "description": "Verify OTP and authenticate user\n\n**BDD Scenario: OTP Verification**\n- When the user submits the correct OTP\n- Then a new user is created or logged in, and a valid JWT is returned",
        "operationId": "Authentication-verify_phone_otp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneOTPRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/reset-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Reset Password",
        "description": "Trigger password reset - Matches Integration Plan\n\n**BDD Scenario: Secure Password Reset Request**\n- Given a user has forgotten their password\n- When they request a password reset with valid email\n- Then a secure reset token is generated and emailed\n- And the request is logged for security tracking",
        "operationId": "Authentication-reset_password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordResetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object",
                  "title": "Response Authentication-Reset Password"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/set-password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Set Password",
        "description": "Complete reset with token - Matches Integration Plan\n\n**BDD Scenario: Secure Password Reset Completion**\n- Given a user has a valid reset token\n- When they submit new password with token\n- Then password is updated securely\n- And all existing sessions are invalidated",
        "operationId": "Authentication-set_password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordResetConfirm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object",
                  "title": "Response Authentication-Set Password"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refresh Token",
        "description": "Refresh access token using refresh token\n\n**BDD Scenario: Seamless Token Refresh**\n- Given a user has a valid refresh token\n- When their access token expires\n- Then a new access token is issued\n- And the session remains active",
        "operationId": "Authentication-refresh_token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/profile-setup": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get Profile Setup",
        "description": "Get profile setup progress",
        "operationId": "Authentication-get_profile_setup",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Authentication-Get Profile Setup"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Authentication"
        ],
        "summary": "Update Profile Setup",
        "description": "Update profile setup progress\n\n**BDD Scenario: Profile Setup Progress Tracking**\n- Given a user is completing profile setup\n- When they complete each setup step\n- Then their progress is tracked and saved\n- And completion percentage is updated",
        "operationId": "Authentication-update_profile_setup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileSetupUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Authentication-Update Profile Setup"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Check Credit Balance",
        "description": "Get current user profile with real database data - supports both JWT and API key authentication",
        "operationId": "Authentication-get_current_user_profile",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/oauth/credentials": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get Oauth Credentials",
        "description": "Get user's OAuth credentials (without exposing tokens)\n\n**Secure OAuth Credential Listing**\n- Returns provider connection status\n- Never exposes actual tokens\n- Shows token expiration status",
        "operationId": "Authentication-get_oauth_credentials",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Authentication-Get Oauth Credentials"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/api/v1/payments/pricing/tiers": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get Pricing Tiers",
        "description": "Get all available pricing tiers and discount information.\n\n* Uses centralized pricing utility to show available bulk discounts\nReturns comprehensive information about pricing tiers for promotional use.",
        "operationId": "Payments-get_pricing_tiers",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "x-mcp-tool-name": "payments.get_pricing_tiers",
        "x-mcp-category": "payments",
        "x-mcp-resource": true,
        "x-mcp-expose": true
      }
    },
    "/api/v1/payments/pricing/{credits}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get Credit Pricing",
        "description": "Get pricing information for a specific credit amount and type.\n\n* Uses centralized pricing utility for DRY implementation\nReturns calculated price, savings, and discount information.",
        "operationId": "Payments-get_credit_pricing",
        "parameters": [
          {
            "name": "credits",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Credits"
            }
          },
          {
            "name": "credit_type",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CreditType",
              "default": "ai"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payments/balances": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get Credit Balances",
        "description": "Get user's credit balances for all credit types.\n\nReturns current balance for each credit type with detailed breakdown.",
        "operationId": "Payments-get_credit_balances",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/v1/payments/checkout": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create Checkout Session",
        "description": "Create Stripe checkout session for custom credit purchase.\n\nCreates a Stripe checkout session with dynamic pricing based on credit amount.\nReturns session URL for redirect to Stripe payment page.",
        "operationId": "Payments-create_checkout_session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Checkout session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCheckoutSessionResponse"
                },
                "example": {
                  "session_id": "cs_test_a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6",
                  "session_url": "https://checkout.stripe.com/c/pay/cs_test_a1b2c3d4",
                  "public_key": "pk_test_51ABC123",
                  "amount": 49.99,
                  "credits": 1000
                }
              }
            }
          },
          "402": {
            "description": "Payment required - invalid payment configuration",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Stripe API key not configured"
                }
              }
            }
          },
          "422": {
            "description": "Invalid checkout request",
            "content": {
              "application/json": {
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "body",
                        "credits"
                      ],
                      "msg": "Credits cannot exceed 10,000 per transaction",
                      "type": "value_error"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-mcp-tool-name": "payments.create_checkout",
        "x-mcp-category": "payments",
        "x-mcp-resource": false,
        "x-mcp-expose": true
      }
    },
    "/api/v1/payments/webhook": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Stripe Webhook",
        "description": "Handle Stripe webhook events using centralized webhook handler.\n\n* Uses centralized webhook utilities for DRY implementation\nProcesses Stripe webhook events, particularly 'checkout.session.completed'\nfor credit purchases. Verifies webhook signature and publishes event to Pulsar.\n\n* Note: Webhook endpoints do not require authentication as they come from Stripe",
        "operationId": "Payments-stripe_webhook",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/v1/api-keys/scopes": {
      "get": {
        "tags": [
          "ApiKeys"
        ],
        "summary": "Get Available Scopes",
        "description": "Get all available API key scopes with descriptions.",
        "operationId": "ApiKeys-get_available_scopes",
        "parameters": [
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Oauth Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailableScopesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/api-keys/": {
      "post": {
        "tags": [
          "ApiKeys"
        ],
        "summary": "Create a new API key",
        "description": "Create a new API key with specified scopes for programmatic access.\n\n## Scopes\nRegular users can grant these scopes:\n- `read:profile` - Read user profile\n- `write:profile` - Update user profile  \n- `read:data` - Read leads, campaigns\n- `write:data` - Create/update data, use enrichment tools\n- `read:analytics` - Access reports\n- `write:settings` - Modify settings\n\nAdmin users can additionally grant:\n- `admin:users`, `admin:system`, etc.\n\n## Important\nThe API key is only shown once - save it securely!",
        "operationId": "ApiKeys-create_user_api_key",
        "parameters": [
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Oauth Token"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/APIKeyCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyCreateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid scopes provided",
            "content": {
              "application/json": {
                "example": {
                  "detail": {
                    "error": "invalid_scopes",
                    "message": "Invalid scopes: admin:system",
                    "valid_scopes": [
                      "read:profile",
                      "write:data",
                      "..."
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Not authorized to grant requested scopes",
            "content": {
              "application/json": {
                "example": {
                  "detail": "You cannot grant these scopes: admin:users, admin:system"
                }
              }
            }
          },
          "409": {
            "description": "API key with same name already exists",
            "content": {
              "application/json": {
                "example": {
                  "detail": {
                    "error": "duplicate_api_key_name",
                    "message": "An API key with the name 'My Key' already exists",
                    "existing_key_id": "uuid-here",
                    "hint": "Use a different name or revoke the existing key first"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "ApiKeys"
        ],
        "summary": "List Api Keys",
        "description": "List all API keys for the authenticated user.",
        "operationId": "ApiKeys-list_api_keys",
        "parameters": [
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Oauth Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/APIKeyResponse"
                  },
                  "title": "Response Apikeys-List Api Keys"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/api-keys/{key_id}": {
      "delete": {
        "tags": [
          "ApiKeys"
        ],
        "summary": "Revoke User Api Key",
        "description": "Revoke/delete an API key.",
        "operationId": "ApiKeys-revoke_user_api_key",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Key Id"
            }
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Oauth Token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "Response Apikeys-Revoke User Api Key"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/api-keys/admin/all": {
      "get": {
        "tags": [
          "ApiKeys",
          "ApiKeys",
          "Admin"
        ],
        "summary": "Admin List All Api Keys",
        "description": "Admin endpoint to list all API keys across all users.\n\n**Required Scope:** `admin`",
        "operationId": "ApiKeys-admin_list_all_api_keys",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "title": "Required Scopes"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved all API keys",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "additionalProperties": true,
                    "type": "object"
                  },
                  "type": "array",
                  "title": "Response Apikeys-Admin List All Api Keys"
                },
                "example": [
                  {
                    "id": "key_123e4567-e89b-12d3-a456-426614174000",
                    "user_id": "usr_456e7890-a12b-34c5-d678-901234567890",
                    "name": "Production API Key",
                    "key_prefix": "ds_live_abc123",
                    "scopes": [
                      "read",
                      "write",
                      "campaigns:launch"
                    ],
                    "created_at": "2024-12-14T10:30:00Z",
                    "last_used_at": "2024-12-14T15:45:00Z",
                    "is_active": true
                  }
                ]
              }
            }
          },
          "403": {
            "description": "Admin access required",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Admin access required"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": [
              "admin"
            ]
          }
        ],
        "x-required-scopes": [
          "admin"
        ]
      }
    },
    "/api/v1/api-keys/admin/{key_id}": {
      "delete": {
        "tags": [
          "ApiKeys",
          "ApiKeys",
          "Admin"
        ],
        "summary": "Admin Revoke Api Key",
        "description": "Admin endpoint to revoke any API key.\n\n**Required Scope:** `admin`",
        "operationId": "ApiKeys-admin_revoke_api_key",
        "parameters": [
          {
            "name": "key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Key Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "title": "Required Scopes"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "Response Apikeys-Admin Revoke Api Key"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "admin"
        ],
        "security": [
          {
            "OAuth2PasswordBearer": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/v1/prospecting/search": {
      "get": {
        "tags": [
          "Prospecting"
        ],
        "summary": "Search for real estate leads",
        "description": "**Required Scope:** `prospecting:search`\n\nSearch multiple data sources for real estate leads with credit-based billing",
        "operationId": "Prospecting-search_leads",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProspectingSource",
              "description": "Data source to search"
            },
            "description": "Data source to search"
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "General location (e.g., 'Denver, CO' or '80205')",
              "title": "Location"
            },
            "description": "General location (e.g., 'Denver, CO' or '80205')"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "State code (e.g., 'CO')",
              "title": "State"
            },
            "description": "State code (e.g., 'CO')"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "City name",
              "title": "City"
            },
            "description": "City name"
          },
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ZIP code",
              "title": "Zip"
            },
            "description": "ZIP code"
          },
          {
            "name": "min_beds",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 20,
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum bedrooms",
              "title": "Min Beds"
            },
            "description": "Minimum bedrooms"
          },
          {
            "name": "max_beds",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 20,
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum bedrooms",
              "title": "Max Beds"
            },
            "description": "Maximum bedrooms"
          },
          {
            "name": "min_baths",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 20,
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum bathrooms",
              "title": "Min Baths"
            },
            "description": "Minimum bathrooms"
          },
          {
            "name": "max_baths",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 20,
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum bathrooms",
              "title": "Max Baths"
            },
            "description": "Maximum bathrooms"
          },
          {
            "name": "min_price",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum price",
              "title": "Min Price"
            },
            "description": "Minimum price"
          },
          {
            "name": "max_price",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum price",
              "title": "Max Price"
            },
            "description": "Maximum price"
          },
          {
            "name": "property_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PropertyType"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Property type",
              "title": "Property Type"
            },
            "description": "Property type"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Maximum results to return",
              "default": 25,
              "title": "Limit"
            },
            "description": "Maximum results to return"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Pagination cursor",
              "title": "Cursor"
            },
            "description": "Pagination cursor"
          },
          {
            "name": "dry_run",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Don't charge credits (preview mode)",
              "default": false,
              "title": "Dry Run"
            },
            "description": "Don't charge credits (preview mode)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved real estate leads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MLSRealEstateLead"
                  },
                  "title": "Response Prospecting-Search Leads"
                },
                "example": [
                  {
                    "id": "123e4567-e89b-12d3-a456-426614174000",
                    "address": "1234 Mountain View Dr",
                    "city": "Denver",
                    "state": "CO",
                    "zip": "80205",
                    "beds": 4,
                    "baths": 3,
                    "price": 650000,
                    "property_type": "single_family",
                    "owner_name": "John Smith",
                    "owner_phone": "+13035551234",
                    "owner_email": "john.smith@example.com",
                    "created_at": "2024-12-14T10:30:00Z"
                  }
                ]
              }
            }
          },
          "402": {
            "description": "Insufficient credits to complete the search",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Insufficient credits. Required: 50, Available: 10"
                }
              }
            }
          },
          "422": {
            "description": "Invalid search parameters",
            "content": {
              "application/json": {
                "example": {
                  "detail": [
                    {
                      "loc": [
                        "query",
                        "max_beds"
                      ],
                      "msg": "max_beds must be >= min_beds",
                      "type": "value_error"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "example": {
                  "detail": "Rate limit exceeded. Try again in 120 seconds."
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "prospecting:search"
        ],
        "security": [
          {
            "OAuth2PasswordBearer": [
              "prospecting:search"
            ]
          }
        ],
        "x-mcp-tool-name": "prospecting.search_leads",
        "x-mcp-category": "prospecting",
        "x-mcp-resource": false,
        "x-mcp-expose": true
      }
    },
    "/api/v1/prospecting/sources": {
      "get": {
        "tags": [
          "Prospecting"
        ],
        "summary": "List available prospecting sources",
        "description": "Get list of all available data sources for prospecting",
        "operationId": "Prospecting-list_sources",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/api/v1/enrich/blackbird_username": {
      "post": {
        "tags": [
          "Enrichment Tools"
        ],
        "summary": "Username/Email Footprint Search + AI Profiling",
        "description": "**Required Scope:** `write:data`\n\nSearch for a username or email across **600+ websites** to discover linked accounts and profiles.\n\n## Features\n- **Username Search**: Find social media profiles across platforms\n- **Email Search**: Discover accounts linked to an email address\n- **AI Profiling**: Get behavioral and technical analysis of the user (requires active AI service)\n- **PDF Export**: Generate PDF report (saved locally, URL returned in response)\n- **Safe Mode**: Filter adult/sensitive sites (default: enabled)\n- **Category Filters**: Include/exclude specific site categories\n- **Confidence Levels**: Filter by match confidence (high/medium/low)\n\n## Match Types & Confidence\n| Match Type | Confidence | Description |\n|------------|------------|-------------|\n| `profile_url` | **high** | Direct profile page URL |\n| `api_lookup` | medium | API response indicating existence |\n| `archive_reference` | medium | Archived/historical reference |\n| `availability_check` | low | Username availability check (may be false positive) |\n\n## Available Categories\n`social`, `professional`, `gaming`, `coding`, `media`, `adult`, `archive`, `other`\n\n## Credits\n**0 credits** - Free tool\n\n## Request Body Format\n```json\n{\n  \"lead_id\": \"string (required)\",\n  \"username\": \"string (required if no email)\",\n  \"email\": \"string (required if no username)\",\n  \"enable_ai\": false,\n  \"export_pdf\": false,\n  \"safe_mode\": true,\n  \"max_results\": null,\n  \"categories_include\": null,\n  \"min_confidence\": null,\n  \"timeout\": 30\n}\n```\n\n## Examples\n\n### Basic Username Search\n```bash\ncurl -X POST \"https://api.dealscale.io/api/v1/enrich/blackbird_username\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\"lead_id\": \"123\", \"username\": \"nasa\"}'\n```\n\n### High-Confidence Social Profiles Only\n```bash\ncurl -X POST \"https://api.dealscale.io/api/v1/enrich/blackbird_username\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\"lead_id\": \"123\", \"username\": \"nasa\", \"categories_include\": [\"social\", \"professional\"], \"min_confidence\": \"high\", \"max_results\": 20}'\n```\n\n### Email Search with AI Profiling\n```bash\ncurl -X POST \"https://api.dealscale.io/api/v1/enrich/blackbird_username\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\"lead_id\": \"123\", \"email\": \"ceo@company.com\", \"enable_ai\": true}'\n```\n\n### Include Adult Sites (safe_mode off)\n```bash\ncurl -X POST \"https://api.dealscale.io/api/v1/enrich/blackbird_username\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\"lead_id\": \"123\", \"username\": \"testuser\", \"safe_mode\": false}'\n```\n\n### Export PDF Report\n```bash\ncurl -X POST \"https://api.dealscale.io/api/v1/enrich/blackbird_username\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\"lead_id\": \"123\", \"username\": \"nasa\", \"export_pdf\": true}'\n```\n\n## Notes\n- **AI Profiling**: Best-effort feature. Check `ai_status` field for machine-readable status: 'ok', 'skipped', 'unavailable', 'rate_limited', 'error'.\n- **PDF Export**: PDF is uploaded to cloud storage. The `pdf_url` field contains a signed download URL (valid for 1 hour). `pdf_expires_at` shows when the URL expires.\n- **Warnings**: The `warnings` field contains human-readable status messages about AI/PDF availability and filtering.\n- **Request Format**: Send a flat JSON object, NOT wrapped in {\"title\":..., \"value\":...}.",
        "operationId": "Enrichment Tools-enrich_blackbird_username",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlackbirdRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlackbirdResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "write:data"
        ],
        "x-credits": 0,
        "x-mcp-tool-name": "enrichment.username_email_footprint",
        "x-internal-adapter": "blackbird"
      }
    },
    "/api/v1/enrich/phunter_phone_validate": {
      "post": {
        "tags": [
          "Enrichment Tools"
        ],
        "summary": "Phone Validation + Carrier Lookup",
        "description": "**Required Scope:** `write:data`\n\nValidate a phone number and retrieve carrier metadata.\n\n## Features\n- **E.164 Normalization**: Automatically normalizes input to E.164 format\n- **Strict Validation**: Validates phone number format and structure\n- **Carrier Lookup**: Identifies the phone carrier/operator\n- **Line Type Detection**: Mobile, Fixed Line, VoIP, Toll-Free, etc.\n- **Geographic Info**: Country, region, and timezone detection\n- **Multiple Formats**: Returns phone in international, national, and E.164 formats\n\n## Input Format\nProvide phone numbers preferably in E.164 format: `+[country_code][number]`\n- US: `+14155551234`\n- UK: `+447911123456`\n- FR: `+33612345678`\n\nNon-E.164 inputs will be normalized when possible.\n\n## Credits\n**0 credits** - Free tool\n\n## Example\n```bash\ncurl -X POST \"https://api.dealscale.io/api/v1/enrich/phunter_phone_validate\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\"phone\": \"+14155551234\", \"lead_id\": \"lead_test_phunter_001\"}'\n```",
        "operationId": "Enrichment Tools-enrich_phunter_phone_validate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhunterPhoneValidateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhunterPhoneValidateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "write:data"
        ],
        "x-credits": 0,
        "x-mcp-tool-name": "enrichment.phone_validate",
        "x-internal-adapter": "phunter"
      }
    },
    "/api/v1/enrich/phunter_phone_amazon": {
      "post": {
        "tags": [
          "Enrichment Tools"
        ],
        "summary": "Phone-to-Amazon Account Check",
        "description": "**Required Scope:** `write:data`\n\nCheck if a phone number is linked to an Amazon account.\n\n## Important Limitation\n⚠️ **This feature has limited API availability.**\n\nThe underlying service uses browser automation with captcha solving\nfor Amazon checks. This means automated API checks may not always be possible.\n\nWhen available:\n- Returns `amazon_associated: true/false`\n- `check_available: true`\n\nWhen unavailable:\n- Returns `amazon_associated: null`\n- `check_available: false`\n- Provides alternative methods\n\n## Input Format\nE.164 format preferred: `+[country_code][number]`\n\n## Credits\n**0 credits** - Free tool\n\n## Example\n```bash\ncurl -X POST \"https://api.dealscale.io/api/v1/enrich/phunter_phone_amazon\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\"phone\": \"+14155551234\", \"lead_id\": \"lead_test_phunter_002\"}'\n```",
        "operationId": "Enrichment Tools-enrich_phunter_phone_amazon",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhunterAmazonCheckRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhunterAmazonCheckResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "write:data"
        ],
        "x-credits": 0,
        "x-mcp-tool-name": "enrichment.phone_amazon_check",
        "x-internal-adapter": "phunter"
      }
    },
    "/api/v1/enrich/phunter_phone_person": {
      "post": {
        "tags": [
          "Enrichment Tools"
        ],
        "summary": "Person Lookup by Phone Number",
        "description": "**Required Scope:** `write:data`\n\nLookup owner/person information for a phone number.\n\n## Important Limitations\n⚠️ **This feature has geographic and technical limitations.**\n\n1. **French Numbers Only**: Full person lookup (via Page Blanche) is only available for French (+33) numbers\n2. **Browser Required**: The underlying lookup requires Selenium browser automation\n3. **No Match ≠ Error**: If no person is found, `match_found: false` is returned (not an error)\n\n## Response Behavior\n- **match_found: true** - Person info found in `person` field\n- **match_found: false** - No match found (success, empty result)\n- **lookup_available: false** - Lookup not available for this number/region\n\n## Input Format\nE.164 format preferred: `+[country_code][number]`\n\n## Credits\n**0 credits** - Free tool\n\n## Example\n```bash\ncurl -X POST \"https://api.dealscale.io/api/v1/enrich/phunter_phone_person\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\"phone\": \"+14155551234\"}'\n```",
        "operationId": "Enrichment Tools-enrich_phunter_phone_person",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhunterPersonLookupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhunterPersonLookupResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "write:data"
        ],
        "x-credits": 0,
        "x-mcp-tool-name": "enrichment.phone_person_lookup",
        "x-internal-adapter": "phunter"
      }
    },
    "/api/v1/enrich/phunter_phone_batch": {
      "post": {
        "tags": [
          "Enrichment Tools"
        ],
        "summary": "Batch Phone Validation (File Upload)",
        "description": "**Required Scope:** `write:data`\n\nUpload a file of phone numbers and receive aggregated JSON results.\n\n## ⚠️ Content-Type: multipart/form-data\nThis endpoint uses **multipart form data**, NOT JSON. Use `-F` flags in curl.\n\n## Input Options\n1. **File Upload**: Upload a CSV or TXT file with phone numbers (one per line)\n2. **Phone List**: Provide comma-separated phone numbers in the form field\n\n## File Format\n- **TXT**: One phone number per line\n- **CSV**: Single column of phone numbers (header optional)\n\n## Size Limits\n- Maximum 100 phone numbers per request\n- Maximum file size: 1MB\n\n## Response\nReturns structured results for each phone:\n- **Valid phones**: Include carrier, line type, location\n- **Invalid phones**: Marked with `valid: false`\n- **Errors**: Include `error` and `error_code` field explaining the issue\n\nPartial failures do NOT fail the entire request. Each phone is processed\nindependently and errors are itemized per phone.\n\n## Credits\n**0 credits** - Free tool\n\n## Examples\n```bash\n# Using comma-separated phone list (no file)\ncurl -X POST \"https://api.dealscale.io/api/v1/enrich/phunter_phone_batch\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -F \"phones=+14155551234,+447911123456,+33612345678\"\n\n# Using file upload\ncurl -X POST \"https://api.dealscale.io/api/v1/enrich/phunter_phone_batch\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -F \"phone_file=@phones.txt\"\n\n# With optional lead_id\ncurl -X POST \"https://api.dealscale.io/api/v1/enrich/phunter_phone_batch\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -F \"phones=+14155551234,+447911123456\" \\\n  -F \"lead_id=my-lead-123\"\n```",
        "operationId": "Enrichment Tools-enrich_phunter_phone_batch",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_Enrichment_Tools-enrich_phunter_phone_batch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhunterBatchUploadResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "write:data"
        ],
        "x-credits": 0,
        "x-mcp-tool-name": "enrichment.phone_batch_validate",
        "x-internal-adapter": "phunter"
      }
    },
    "/api/v1/enrich/maigret_username": {
      "post": {
        "tags": [
          "Enrichment Tools"
        ],
        "summary": "Advanced Username Reconnaissance (3000+ Sites)",
        "description": "**Required Scope:** `write:data`\n\nDeep username reconnaissance across **3000+ sites** with profile parsing and analysis.\n\n## Features\n- **Profile Parsing**: Extract personal info, links, and profile data\n- **Recursive Search**: Find additional usernames/IDs from profiles\n- **Tag Filtering**: Search specific categories or countries (use ONE tag for best results)\n- **Censorship Detection**: Identify sites that block the search\n- **Report Export**: Generate HTML, PDF, or XMind reports\n\n## Valid Tags\n\n**⚠️ Important:** Multiple tags use AND logic (sites must match ALL tags). Use a single tag for broader results.\n\n**Category Tags:**\n`networking`, `coding`, `gaming`, `photo`, `video`, `dating`, `career`, `art`, `blog`, `business`,\n`crypto`, `design`, `education`, `fashion`, `finance`, `forum`, `freelance`, `gambling`, `hobby`,\n`maps`, `mastodon`, `medicine`, `messaging`, `military`, `movies`, `music`, `news`, `porn`,\n`reading`, `review`, `science`, `sharing`, `shopping`, `sport`, `streaming`, `tech`, `trading`,\n`travel`, `wiki`, `writing`, `webcam`, `torrent`, `apps`, `bookmarks`, `books`, `documents`, `links`\n\n**Country Tags:**\n`us`, `uk`, `ru`, `de`, `fr`, `cn`, `jp`, `kr`, `br`, `ca`, `au`, `es`, `it`, `nl`, `pl`, `ua`, `in`,\n`id`, `tr`, `mx`, `ar`, `th`, `vn`, `eg`, `pk`, `ph`, `my`, `sg`, `hk`, `tw`, `ch`, `at`, `be`, `se`,\n`no`, `dk`, `fi`, `cz`, `hu`, `ro`, `bg`, `gr`, `pt`, `ie`, `il`, `sa`, `ae`, `za`, `ng`, and more.\n\n**Auto-mapped Aliases:**\n- `social` → `networking`\n- `professional` → `career`\n- `dev`/`developer`/`programming` → `coding`\n- `photos`/`images` → `photo`\n- `videos` → `video`\n\n## Credits\n**0 credits** - Free tool\n\n## Examples\n```bash\n# Quick search (recommended for cloud API)\ncurl -X POST \"https://api.dealscale.io/api/v1/enrich/maigret_username\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\"lead_id\": \"test-123\", \"username\": \"nasa\", \"top_sites\": 50}'\n\n# Search with category filter\ncurl -X POST \"https://api.dealscale.io/api/v1/enrich/maigret_username\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\"lead_id\": \"test-123\", \"username\": \"nasa\", \"tags\": [\"networking\"], \"top_sites\": 50}'\n\n# Search by country (US sites only)\ncurl -X POST \"https://api.dealscale.io/api/v1/enrich/maigret_username\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\"lead_id\": \"test-123\", \"username\": \"elonmusk\", \"tags\": [\"us\"], \"top_sites\": 50}'\n```",
        "operationId": "Enrichment Tools-enrich_maigret_username",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaigretRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaigretResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "write:data"
        ],
        "x-credits": 0,
        "x-mcp-tool-name": "enrichment.advanced_username_recon",
        "x-internal-adapter": "maigret"
      }
    },
    "/api/v1/enrich/sherlock_username": {
      "post": {
        "tags": [
          "Enrichment Tools"
        ],
        "summary": "Social Network Username Search (400+ Sites)",
        "description": "**Required Scope:** `write:data`\n\nHunt down social media accounts by username across **400+ social networks**.\n\n## Features\n- **Fast Search**: Efficiently scan hundreds of sites\n- **Site Filtering**: Limit search to specific platforms (use exact site names from Sherlock's data.json)\n- **Export Options**: CSV and Excel spreadsheet exports\n- **Tor Support**: Route through Tor for privacy (slower)\n- **NSFW Filter**: Optionally include adult sites\n\n## Site Filter\nWhen using the `site` parameter, use exact site names as they appear in the supported database.\n\n**Popular sites:** `GitHub`, `Twitter`, `Instagram`, `Facebook`, `LinkedIn`, `Reddit`, `YouTube`, `TikTok`, `Telegram`, `Discord`, `Medium`, `Dev.to`, `HackerNews`, `ProductHunt`\n\n## Credits\n**0 credits** - Free tool\n\n## Examples\n```bash\n# Quick search (recommended for cloud API) - searches top 10 sites\ncurl -X POST \"https://api.dealscale.io/api/v1/enrich/sherlock_username\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\"lead_id\": \"test-123\", \"username\": \"nasa\", \"site\": [\"GitHub\", \"Twitter\", \"Instagram\", \"LinkedIn\", \"Reddit\", \"YouTube\", \"Facebook\", \"TikTok\", \"Telegram\", \"Discord\"]}'\n\n# Search specific social platforms\ncurl -X POST \"https://api.dealscale.io/api/v1/enrich/sherlock_username\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\"lead_id\": \"test-123\", \"username\": \"nasa\", \"site\": [\"GitHub\", \"Twitter\", \"Instagram\"]}'\n\n# Full scan (self-hosted only - will timeout on cloud)\ncurl -X POST \"http://localhost:8000/api/v1/enrich/sherlock_username\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer YOUR_TOKEN\" \\\n  -d '{\"lead_id\": \"test-123\", \"username\": \"nasa\", \"timeout\": 180}'\n```",
        "operationId": "Enrichment Tools-enrich_sherlock_username",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SherlockRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SherlockResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "write:data"
        ],
        "x-credits": 0,
        "x-mcp-tool-name": "enrichment.social_username_search",
        "x-internal-adapter": "sherlock"
      }
    },
    "/api/v1/enrich/theharvester_domain": {
      "post": {
        "tags": [
          "Enrichment Tools"
        ],
        "summary": "Domain Intelligence Gathering",
        "description": "**Required Scope:** `write:data`\n\nHarvest emails, subdomains, hosts, and IPs from a target domain.\n\n## Data Sources\nUses multiple OSINT sources including:\n- Search engines: Google, Bing, DuckDuckGo\n- Social: LinkedIn, Twitter\n- Security: Shodan, VirusTotal, Hunter.io\n- DNS: Sublist3r, DNSDumpster\n\n## Gathered Information\n- **Emails**: Corporate email addresses\n- **Subdomains**: All discoverable subdomains\n- **Hosts**: Hostnames and IP mappings\n- **IPs**: IP addresses associated with domain\n\n## Credits\n**0 credits** - Free tool",
        "operationId": "Enrichment Tools-enrich_theharvester_domain",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TheHarvesterRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TheHarvesterResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "write:data"
        ],
        "x-credits": 0,
        "x-mcp-tool-name": "enrichment.domain_intelligence",
        "x-internal-adapter": "theHarvester"
      }
    },
    "/api/v1/enrich/homeharvest_address": {
      "post": {
        "tags": [
          "Enrichment Tools"
        ],
        "summary": "Property Search by Address",
        "description": "**Required Scope:** `write:data`\n\nSearch for property listings by a specific address with input normalization and validation.\n\n## Features\n- **Address Normalization**: Standardizes address format for consistent results\n- **Validation**: Validates address components (street, city, state, ZIP)\n- **Radius Search**: Optional radius-based search around the address\n- **Consistent Schema**: Stable response schema with normalized property listings\n\n## Address Format\nAccepts addresses in standard US format:\n- `\"123 Main Street, Miami, FL 33101\"`\n- `\"1600 Amphitheatre Pkwy, Mountain View, CA\"`\n\n## Data Returned\n- Normalized property listings with consistent field names\n- Agent contact information (emails, phones)\n- Address validation status\n\n## Credits\n**0 credits** - Free tool",
        "operationId": "Enrichment Tools-enrich_homeharvest_address",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HomeHarvestAddressRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HomeHarvestAddressResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "write:data"
        ],
        "x-credits": 0,
        "x-mcp-tool-name": "enrichment.property_search_address",
        "x-internal-adapter": "HomeHarvest"
      }
    },
    "/api/v1/enrich/homeharvest_city": {
      "post": {
        "tags": [
          "Enrichment Tools"
        ],
        "summary": "City-Wide Property Search",
        "description": "**Required Scope:** `write:data`\n\nSearch for property listings across an entire city with validation and filtering.\n\n## Features\n- **City Validation**: Validates city/state format for accurate results\n- **Advanced Filtering**: Filter by price, beds, baths, sqft, property type\n- **Sorting**: Sort results by price, date, beds, or sqft\n- **Consistent Schema**: Stable response schema with normalized property listings\n\n## City Format\nProvide city and state in standard format:\n- `\"Miami Beach, FL\"`\n- `\"Beverly Hills, California\"`\n- `\"New York, NY\"`\n\n## Data Returned\n- Normalized property listings with consistent field names\n- Agent contact information (emails, phones)\n- City validation status\n- Applied filters summary\n\n## Credits\n**0 credits** - Free tool",
        "operationId": "Enrichment Tools-enrich_homeharvest_city",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HomeHarvestCityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HomeHarvestCityResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-required-scopes": [
          "write:data"
        ],
        "x-credits": 0,
        "x-mcp-tool-name": "enrichment.property_search_city",
        "x-internal-adapter": "HomeHarvest"
      }
    },
    "/api/v1/enrich/homeharvest_advanced": {
      "post": {
        "tags": [
          "Enrichment Tools"
        ],
        "summary": "Advanced Property Search",
        "description": "**Required Scope:** `write:data`\n\nAdvanced multi-criteria property search with comprehensive filtering options.\n\n## Features\n- **Multi-Location Types**: Search by city/state, ZIP code, or address\n- **Comprehensive Filters**: Price, beds, baths, sqft, lot size, year built, property type\n- **Agent Filters**: Filter to only listings with agent contact info\n- **Radius Search**: Search within N miles of a location\n- **Time Filters**: Only recently listed properties\n- **Empty Results = 200 OK**: No results is not an error\n\n## Location Formats\n- City/State: `\"Miami Beach, FL\"`, `\"Beverly Hills, California\"`\n- ZIP Code: `\"90210\"`, `\"33139\"`\n- Address: `\"123 Main St, Beverly Hills, CA\"`\n\n## Filter Validation\n- Range filters (min/max) are validated for consistency\n- Invalid property types are rejected with helpful error messages\n- Conflicting filters are detected and reported\n\n## Credits\n**0 credits** - Free tool",
        "operationId": "Enrichment Tools-enrich_homeharvest_advanced",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HomeHarvestAdvancedRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Search completed (may have 0 results)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HomeHarvestAdvancedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid filters or location format"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error during search"
          }
        },
        "x-required-scopes": [
          "write:data"
        ],
        "x-credits": 0,
        "x-mcp-tool-name": "enrichment.property_search_advanced",
        "x-empty-results-behavior": "Returns 200 OK with properties_found=0",
        "x-internal-adapter": "HomeHarvest"
      }
    },
    "/api/v1/enrich/zehef_email": {
      "post": {
        "tags": [
          "Enrichment Tools"
        ],
        "summary": "Email Account Discovery",
        "description": "**Required Scope:** `write:data`\n\nDiscover accounts and profiles linked to an email address across multiple platforms.\n\n## Supported Platforms\n- **GitHub** - Developer profiles\n- **Gravatar** - Global avatar profiles\n- **Pinterest** - Social media pins\n- **Spotify** - Music streaming profiles  \n- **Duolingo** - Language learning profiles\n- **Chess.com** - Online chess profiles\n\n## Features\n- **Email Normalization**: Automatically lowercases and trims input\n- **Strict Validation**: RFC 5322 compliant email validation\n- **Empty Results = 200 OK**: No accounts found is not an error\n- **Request Tracking**: Use request_id for correlation\n\n## Response Behavior\n- Returns 200 OK even when no accounts are found\n- `total_found` will be 0 if no accounts discovered\n- All checked platforms listed in `platforms_checked`\n\n## Credits\n**0 credits** - Free tool",
        "operationId": "Enrichment Tools-enrich_zehef_email",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZehefEmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Search completed (may have 0 results)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZehefEmailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email format or validation error"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error during search"
          }
        },
        "x-required-scopes": [
          "write:data"
        ],
        "x-credits": 0,
        "x-mcp-tool-name": "enrichment.email_discovery",
        "x-platforms": [
          "github",
          "gravatar",
          "pinterest",
          "spotify",
          "duolingo",
          "chess"
        ],
        "x-empty-results-behavior": "Returns 200 OK with total_found=0",
        "x-internal-adapter": "zehef"
      }
    },
    "/api/v1/enrich/tools": {
      "get": {
        "tags": [
          "Enrichment Tools"
        ],
        "summary": "Enrichment Tools Catalog",
        "description": "**Required Scope:** `read:data`\n\nGet the authoritative catalog of all available enrichment tools.\n\n## Catalog Features\n- **Versioned API**: Check version for breaking changes\n- **Public-facing names**: Tool names hide implementation details\n- **Endpoint paths**: Direct API paths for each tool\n- **Credit costs**: 0 for free tools, 1+ for premium\n- **Required/optional params**: Know what to send\n- **Examples**: Ready-to-use request examples\n\n## Categories\n- **osint**: Open-source intelligence tools\n- **validation**: Data validation tools\n- **leads**: Lead generation tools\n- **premium**: Paid skip-tracing services\n\nThis catalog is the source of truth for available enrichment capabilities.",
        "operationId": "Enrichment Tools-list_enrichment_tools",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnrichmentCatalogResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2PasswordBearer": [
              "read:data"
            ]
          }
        ],
        "x-required-scopes": [
          "read:data"
        ]
      }
    },
    "/api/v1/integrations/ghl/calendar/auth-url": {
      "get": {
        "tags": [
          "GhlOauth"
        ],
        "summary": "Get Oauth Authorization Url",
        "description": "Generate OAuth authorization URL for Google Calendar access via GoHighLevel.\n\nThis endpoint initiates the OAuth flow by generating a secure authorization URL\nwith CSRF protection and optional PKCE for enhanced security.\n\nQuery Parameters:\n- subaccount_id: Optional GHL subaccount (location) ID for multi-tenant scenarios\n- redirect_uri_hint: Optional hint for frontend environment routing\n\nReturns:\n- auth_url: The OAuth authorization URL to redirect the user to\n- state: CSRF protection state parameter (for verification)\n- expires_in_seconds: How long the state is valid (default: 300s)\n\nSecurity Features:\n- CSRF protection via cryptographically secure state parameter\n- PKCE challenge for enhanced OAuth security\n- Rate limiting to prevent abuse\n- Audit logging for security monitoring",
        "operationId": "GhlOauth-get_oauth_authorization_url",
        "parameters": [
          {
            "name": "subaccount_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "GHL subaccount (location) ID",
              "title": "Subaccount Id"
            },
            "description": "GHL subaccount (location) ID"
          },
          {
            "name": "redirect_uri_hint",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Frontend redirect hint",
              "title": "Redirect Uri Hint"
            },
            "description": "Frontend redirect hint"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthUrlResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/integrations/ghl/calendar/callback": {
      "get": {
        "tags": [
          "GhlOauth"
        ],
        "summary": "Oauth Callback",
        "description": "Handle OAuth callback from GoHighLevel.\n\nThis endpoint processes the OAuth callback, validates the state parameter,\nexchanges the authorization code for tokens, and securely stores the\nencrypted credentials.\n\nQuery Parameters:\n- code: Authorization code from OAuth provider (required for success)\n- state: CSRF state parameter for validation (required)\n- error: Error code if OAuth failed\n- error_description: Human-readable error description\n- mode: Set to 'json' for API testing (returns JSON instead of redirect)\n\nFlow:\n1. Validate OAuth state parameter (CSRF protection)\n2. Handle OAuth errors if present\n3. Exchange authorization code for access/refresh tokens\n4. Encrypt and store tokens in database\n5. Redirect to frontend with success/error status\n\nSecurity Features:\n- State validation prevents CSRF attacks\n- Tokens are encrypted at rest\n- Audit logging for security monitoring\n- One-time use state parameters",
        "operationId": "GhlOauth-oauth_callback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "OAuth authorization code",
              "title": "Code"
            },
            "description": "OAuth authorization code"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "OAuth state parameter",
              "title": "State"
            },
            "description": "OAuth state parameter"
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "OAuth error code",
              "title": "Error"
            },
            "description": "OAuth error code"
          },
          {
            "name": "error_description",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "OAuth error description",
              "title": "Error Description"
            },
            "description": "OAuth error description"
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Response mode (json for API testing)",
              "title": "Mode"
            },
            "description": "Response mode (json for API testing)"
          }
        ],
        "responses": {
          "302": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/integrations/ghl/calendar/status": {
      "get": {
        "tags": [
          "GhlOauth"
        ],
        "summary": "Get Connection Status",
        "description": "Check OAuth connection status for Google Calendar via GoHighLevel.\n\nThis endpoint checks whether the user has an active OAuth connection\nwith valid tokens. It also validates token expiration and automatically\nattempts refresh if needed.\n\nQuery Parameters:\n- subaccount_id: Optional GHL subaccount (location) ID filter\n\nReturns:\n- connected: Whether OAuth connection is active and valid\n- provider: OAuth provider identifier\n- scopes: List of granted OAuth scopes\n- expires_at: Token expiration timestamp (ISO 8601)\n- subaccount_id: Associated GHL subaccount ID\n\nFeatures:\n- Automatic token validation\n- Cache-first approach for performance\n- Background analytics tracking",
        "operationId": "GhlOauth-get_connection_status",
        "parameters": [
          {
            "name": "subaccount_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "GHL subaccount (location) ID",
              "title": "Subaccount Id"
            },
[...]
