[submodule "scripts"]
	path = scripts
	url = https://github.com/TechWithTy/scripts.git
[submodule "_docs/front_end_best_practices"]
	path = _docs/front_end_best_practices
	url = https://github.com/TechWithTy/front_end_best_practices.git
[submodule "external/kanban"]
	path = external/kanban
	url = https://github.com/techwithty/kanban.git
[submodule "external/google-maps-two"]
	path = external/google-maps-two
	url = https://github.com/techwithty/google-maps-two.git
[submodule "external/shadcn-table"]
	path = external/shadcn-table
	url = https://github.com/TechWithTy/shadcn-table.git
	branch = main
[submodule "external/ai-avatar-dropdown"]
	path = external/ai-avatar-dropdown
	url = https://github.com/techwithty/ai-avatar-dropdown.git
[submodule "external/audio-playback"]
	path = external/audio-playback
	url = https://github.com/techwithty/audio-playback.git
[submodule "external/teleprompter-modal"]
	path = external/teleprompter-modal
	url = https://github.com/techwithty/teleprompter-modal.git
[submodule "external/wheel-spinner"]
	path = external/wheel-spinner
	url = https://github.com/techwithty/wheel-spinner.git
[submodule "external/score-streak-flow"]
	path = external/score-streak-flow
	url = https://github.com/TechWithTy/score-streak-flow.git
[submodule "external/action-bar"]
	path = external/action-bar
	url = https://github.com/techwithty/action-bar.git
