[submodule "external/interactive-avatar-nextjs-demo"]
	path = external/interactive-avatar-nextjs-demo
	url = https://github.com/Deal-Scale/InteractiveAvatarNextJSDemo

[submodule "deal_scale_v3"]
	path = deal_scale_v3
	url = https://github.com/TechWithTy/deal_scale_v3.0.git
